---
import GitHub from "../icons/GitHub.astro"
import Tailwind from "../icons/Tailwind.astro"
import Python from "../icons/Python.astro"
import Link from "../icons/Link.astro"
import AstroLogo from "../icons/AstroLogo.astro"
import HTML5 from "../icons/HTML5.astro"

import LinkButton from "../buttons/LinkButton.astro"

const TAGS = {
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#254e70] text-white",
    icon: Python,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#481477] text-white",
    icon: AstroLogo,
  },
  HTML5: {
    name: "HTML5",
    class: "bg-[#b23515] text-white",
    icon: HTML5,
  },
}

const PROJECTS = [
  {
    title: "¡Este portfolio!",
    description:
      "Mi porfolio personal hecho con Astro y Tailwind CSS.",
    link: "https://portfolio-lovat-five-76.vercel.app/",
    github: "https://github.com/dazzayah/portfolio",
    image: "portfolio-thumbnail.webp",
    tags: [TAGS.TAILWIND, TAGS.ASTRO, TAGS.HTML5],
  },
  {
    title: "Instagram Messages JSON Parser",
    description:
      "Un pequeño script en Python que procesa diccionarios JSON de los registros almacenados de nuestra bandeja de mensajes de Instagram (extrapolable a más tipos de registros), decodifica y pasa a un formato legible en texto plano.",
    link: "https://github.com/dazzayah/instagram-log-parser.git",
    github: "https://github.com/dazzayah/instagram-log-parser.git",
    image: "instagramjson-thumbnail.webp",
    tags: [TAGS.PYTHON],
  },
]
---

<div class="flex flex-col gap-y-12">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex gap-x-8 flex-col md:flex-row gap-y-4 md:gap-y-0">
      <div class="w-full">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl border border-gray-800 hover:border-blue-200/50 hover:bg-gray-800/50 ">
          <img class="object-cover object-center w-full h-56 transition duration-500 hover:scale-125" loading="lazy" src={image} />
        </div>
      </div>

  <div class="w-full">
    <h3 class="text-2xl font-bold text-papaya">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-400">{description}</div>
      <div class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </div>
    </div>
  </div>
</article>
    ))
  }
</div>